venv/
**/output_models/*
!**/output_models/.gitkeep
**/input_models/*
!**/input_models/.gitkeep
**/output_gcode/*
!**/output_gcode/.gitkeep
**/input_gcode/*
!**/input_gcode/.gitkeep
gifs/
__pycache__/
**/_*
# Ignore Python exe and bundle folders
/slicerbundle/
*.exe
*.pyc
__pycache__/
dist/
build/
*.spec